.issue-form{
    padding: 5% 5% 5% 5%;
    font-family: "Kanit", sans-serif;
}

.issue-page {
    position: relative;
    padding-bottom: 10%;
    background-color: #f26d23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .heading {
    text-align: center;
    color: white;
    font-family: "Kanit", sans-serif;
    padding-bottom: 2%;
  }
  
